.brand {
  background: url(../assets/Background.png) no-repeat;
  background-size: cover;
  border-radius: 14px;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;

  height: 100vh;
  overflow: hidden;

  & img {
    width: 46px;
    height: 48px;
    margin-bottom: 1rem;
    padding-bottom: 16px;
  }
  & h1 {
    color: #ff598b;
    font-family: "Leckerli One", cursive;
    font-size: 40px;
    font-weight: regular;
    line-height: auto;
  }

  & p {
    padding-top: 4px;
    color: #f9f9f9;
    font-size: 16px;
    margin-bottom: 1rem;
  }
}
