* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  
  
}

.div-suprema {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  background-color: #131516;
}


.div-suprema::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

img {
  max-width: 100%;
}

input {
  font-family: "Open Sans", sans-serif;

  
}
.invite::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

